@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
}
/* 雪のコンテンツ */

.snowContent {
  width: 100vw;
  height: 100vh;
  background-image: url(./image/snowfall.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.snowContent::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
}

.snowContent h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5rem;
  color: #fff;
  text-shadow: 1px 3px 5px black;
}

.snow {
  position: absolute;
  top: 0;
  /* border-radius: 50%; */
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: #fff;
  animation: snowDrop 10s linear;
}
@keyframes snowDrop {
  0% {
    opacity: 0;
    top: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(5px);
  }
  30% {
    opacity: 1;
    transform: translateX(-5px);
  }
  50% {
    opacity: 1;
    transform: translateX(7px);
  }
  70% {
    opacity: 1;
    transform: translateX(-4px);
  }
  90% {
    opacity: 1;
    transform: translateX(2px);
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}


/* 時計のコンテンツ */
.clockContent {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#clock {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  /* background-color: #000; */
  box-shadow: 1px 3px 5px #fff;
}
.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.7);;
  transform-origin: 0 center;
}
#second-hand {
  width: 45%;
  border-width: 1px;
}
#minute-hand {
  width: 40%;
  border-width: 2px;
}
#hour-hand {
  width: 30%;
  border-width: 4px;
}
#clock span {
  /* text-shadow: 2px 3px 5px #fff; */
  /* color: #fff; */
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  position: absolute;
}
#clock span:nth-of-type(1) {
  top: 7%;
  right: 25%;
  transform: rotate(30deg);
}
#clock span:nth-of-type(2) {
  top: 22%;
  right: 9%;
  transform: rotate(60deg);
}
#clock span:nth-of-type(3) {
  top: 43%;
  right: 5%;
  transform: rotate(90deg)
}
#clock span:nth-of-type(4) {
  bottom: 22%;
  right: 9%;
  transform: rotate(300deg);
} 
#clock span:nth-of-type(5) {
  bottom: 7%;
  right: 25%;
  transform: rotate(330deg);
}
#clock span:nth-of-type(6) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} 
#clock span:nth-of-type(7) {
  bottom: 7%;
  left: 25%;
  transform: rotate(30deg);
}
#clock span:nth-of-type(8) {
  bottom: 22%;
  left: 9%;
  transform: rotate(60deg);
}
#clock span:nth-of-type(9) {
  top: 43%;
  left: 5%;
  transform: rotate(270deg);
}
#clock span:nth-of-type(10) {
  top: 22%;
  left: 9%;
  transform: rotate(300deg);
} 
#clock span:nth-of-type(11) {
  top: 7%;
  left: 25%;
  transform: rotate(330deg);
}
#clock span:nth-of-type(12) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#clock span:nth-of-type(13) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}